
    {
        "plugins": ["jasmine"],
        "parser": "",
        "env": {
            "es6": true,
            "jasmine":true,
            "browser":true,
            "node":true
        },
        "extends": "eslint:recommended",
        "parserOptions": {
            "sourceType": "module"
        },
        "globals": {
          "Rx": true,
          "FscButton": true,
          "Header": true,
          "tempHtml": true,
          "Observer": true,
          "Subscription": true,
          "merge":true,
          "share":true,
          "onmessage": true
      
        },
        "rules": {
            "indent": [
                2,
                2
            ],
            "linebreak-style": [
                2,
                "unix"
            ],
            "quotes": [
                2,
                "single"
            ],
            "semi": [
                2,
                "always"
            ],
            "no-console":[
              0
            ]
        }
      }
    