button {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  width: 150px;
}

.create {
  background-color: seagreen;
  color: white;
}

.manage {
  background-color: midnightblue;
  color: white;
}

.regressive {
  background-color: darkred;
  color: white;
}

.neutral-button {
  background-color: dimgrey;
  color: white;
}

#pageDiv {
  font-family: sans-serif;
}

h1 {
  font-family: sans-serif;
}
.error {
  color: darkred;
}
